{% extends 'core/baseEstructura.html' %}

{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'core/css/estiloIndex.css'%}">
{%endblock%}


{% block contenido%}
    <div class="container">
        <h2>Autenticación </h2>
        {%load crispy_forms_tags%}
        <form action="" method="POST" >
            {% csrf_token %}
           
                {{ form | crispy }}

            <input type="submit" value="login" class="btn btn-primary float-right">
            <a href="{% url 'password_reset' %}"> Olvide mi contraseña</a>
        </form>
        

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{%endblock%}