{% extends 'core/baseEstructura.html' %}

{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'core/css/estiloIndex.css'%}">
{%endblock%}


{% block contenido%}
{% load crispy_forms_tags %}
<div class="container">
    <h2>Registro de usuario</h2>
    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{ form | crispy}}

        </table>
        <div class="float-right">
            <input type="reset" value="Limpiar" class="btn btn-info">
            <input type="submit" value="Registrar" class="btn btn-primary">
        </div>
     

    </form>

</div>


{%endblock%}