{% extends 'core/baseEstructura.html' %}

{% load static %}

{%block css%}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/estiloProductos.css'%}">
{%endblock%}


{% block contenido %}

  <div id="contenidoPrincipal">
  <div class="wrap">
      
    <hr class="featurette-divider">
    <br>
    <div class="store-wrapper">
      <div class="category_list">
        <a href="#" class="category_item" category="all">Todos</a>  <!--Atributo creado por nosotros category para poder filtrar despues-->
        <a href="#" class="category_item" category="Circulares">Circulares</a>
        <a href="#" class="category_item" category="Corazones">Corazones</a>
        <a href="#" class="category_item" category="Ovalo">Ovalos</a>
      </div>
      <section class="products-list">
        <div class="product-item" category="Circulares">
          <img src="{% static 'core/imagenes/1.png'%}" alt="" >
          <a href="#">Rojos ciruclares</a>
        </div>
        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/2.png'%}" alt="" >
          <a href="#">Corazones rojos</a>
        </div>
        <div class="product-item" category="Ovalo">
          <img src="{% static 'core/imagenes/3.png'%}" alt="" >
          <a href="#">Ovalados rojos</a>
        </div>
        <div class="product-item" category="Circulares">
          <img src="{% static 'core/imagenes/4.png'%}" alt="" >
          <a href="#">Multicolor circulares</a>
        </div>

        <div class="product-item" category="Ovalo">
          <img src="{% static 'core/imagenes/5.png'%}" alt="" >
          <a href="#">Ovalados celestes</a>
        </div>

        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/6.png'%}" alt="" >
          <a href="#">Corazones celestes</a>
        </div>

        <div class=" product-item" category="Corazones">
          <img src="{% static 'core/imagenes/7.png'%}" alt="" >
          <a href="#">Corazones morados</a>
        </div>

        <div class="product-item" category="Circulares">
          <img src="{% static 'core/imagenes/8.png'%}" alt="" >
          <a href="#">Circulares morados</a>
        </div>

        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/9.png'%}" alt="" >
          <a href="#">Corazones rayados celeste</a>
        </div>

        <div class="product-item" category="Circulares">
          <img src="{% static 'core/imagenes/10.png'%}" alt="" >
          <a href="#">Multicolor circulares</a>
        </div>

        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/11.png'%}" alt="" >
          <a href="#">Corazones con girasol</a>
        </div>

        <div class="product-item" category="Circulares">
          <img src="{% static 'core/imagenes/12.png'%}" alt="" >
          <a href="#">Circulares con hojas</a>
        </div>

        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/13.png'%}" alt="" >
          <a href="#">Corazones con flores</a>
        </div> 

        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/14.png'%}" alt="" >
          <a href="#">Corazones terra</a>
        </div>

        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/18.JPG'%}" alt="" >
          <a href="#">Corazones animalprint</a>
        </div>

        <div class="product-item" category="Corazones">
          <img src="{% static 'core/imagenes/20.JPG'%}" alt="" >
          <a href="#">Corazones rosa</a>
        </div>

      </section>
    </div>
  </div>

  </div>

{%endblock%}


{%block javascript%}
<script src="{% static 'core/jquery/script.js'%}"></script> 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{%endblock%}