{% extends 'core/baseEstructura.html' %}

{% load static %}

{%block css%}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/estiloProductos.css'%}">
{%endblock%}

{%block javascript%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="{% static 'core/jquery/script.js '%}"></script> 
{%endblock%}


{% block contenido %}

  <div class="wrap">
      
    <hr class="featurette-divider">
    <br>

    <div class="store-wrapper">
      <div class="category_list">
        <a href="#" class="category_item" category="all">Todos</a>  <!--Atributo creado por nosotros category para poder filtrar despues-->
        {%for t in tipoAros%}
        <a href="#" class="category_item" category="{{t.nombreT}}">{{ t.nombreT }}</a>
        {% endfor %}
      </div>

      
      <section class="products-list">
        {%for a in aritos%}
        <div class="product-item" category="{{a.tipoforma}}">
          <img src="{{a.imagen.url}}" alt="" >
          <a href="#">{{a.nombre}}</a>
        </div>
        {%endfor%}

      </section>
    </div>
  </div>



{%endblock%}
