{% extends 'core/baseEstructura.html' %}

{% load static %}
{% load crispy_forms_tags %}

{%block css%}
<link rel="stylesheet" href="{% static 'core/css/estiloIndex.css'%}">
{%endblock%}

{%block javascript%}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'core/jquery/confirmacion.js'%}"></script>
{%endblock%}


{% block contenido %}
<div class="container">
    <div class="table-responsive-sm">
        <h2>Listado de aros</h2>
        <table class="table table-striped ">
            <tr>
                <th>Nombre</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Stock</th>
                <th>TipoPin</th>
                <th>Tipoforma</th>
                <th> &nbsp;&nbsp;&nbsp;&nbsp;Opciones:</th>
                <th></th>
            
            </tr>

            {%for a in aros_%}
            <tr>

            <td>{{a.nombre}}</td>
            <td>{{a.color}}</td>
            <td>{{a.tamaño}} cm</td>
            <td>{{a.stock}}</td>
            <td>{{a.tipoPin}}</td>
            <td>{{a.tipoforma}}</td>
            <td>
                <a href="{% url 'modificar_aro' a.id %}" class="btn btn-info btn-sm">Modificar</a>
 
                <a href="{%url 'eliminar_aro' a.id%}" onclick="confirmarEliminacion(a.id)" class="btn btn-danger btn-sm">Eliminar</a> 
            </td>
            </tr>
            {%endfor%}

        </table>

    </div>
</div>

{%endblock%}