{% extends 'core/baseEstructura.html' %}

{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'core/css/estiloListado.css'%}">
{%endblock%}

{%block javascript%}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'core/jquery/confirmacion.js'%}"></script>
{%endblock%}


{% block contenido %}
<div class="container">
    <h2>Listado de aros</h2>
    <hr class="featurette-divider">
    <div class="col-12 row">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Color</th>
                <th>Tamaño</th>
                <th>Tock</th>
                <th>Tipo pin</th>
                <th>Tipo forma</th>
                <th>Opciones</th>
                <th></th>
            
            </tr>

            {%for a in aros_%}
            <tr>

            <td>{{a.nombre}}</td>
            <td>{{a.color}}</td>
            <td>{{a.tamaño}} cm</td>
            <td>{{a.stock}}</td>
            <td>{{a.tipoPin}}</td>
            <td>{{a.tipoforma}}</td>
            <td>
                <a href="{% url 'modificar_aro' a.id %}">Modificar</a>
            </td>
            <td>
                <a href="#" onclick="confirmarEliminacion({{a.id}})">Eliminar</a> 
            </td>
            </tr>
            {%endfor%}

        </table>
    </div>
</div>

</div>


{%endblock%}